.App {
  text-align: center;
}

.LoginForm {
  text-align: center;
  padding: 100px;
}

.LoginForm input {
  width: 400px;
  height: 40px;
  margin: 10px;
}

.LoginForm button {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.SignupForm {
  padding: 100px;
}

.SignupForm input {
  margin: 10px;
  width: 400px;
  height: 40px;
}

.SignupForm button {
  width: 400px;
  margin-top: 10px;
  height: 40px;
  cursor: pointer;
}

.TodoList {
  padding: 20px;
  margin: 20px;
}

.TodoItems {
  padding: 5px;
  margin-bottom: 15px;
}
